html, body {
    font-family: 'Open Sans', sans-serif;
    background-color: aliceblue;
    }

.heading {
    text-align: center;
    color: maroon;
}

h2:hover {
    color: black;
}

h4 {
    color: maroon;
}

input {
    border-radius: 5px;
    padding: 5px;
}

.submit {
    color:white;
    background-color: black;
    margin: 10px 0 0;
}

.submit:hover {
    background-color: maroon;
    color: white;
}